# Dependencies
node_modules/

# Build Output
dist/

# Local Environment Variables
.env

# Database File & Data Directory
data/*.db
data/*.db-journal
data/*.db-wal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db